---
import UnofficialMark from "@/components/UnofficialMark.astro";
import Base from "@/layouts/Base.astro";
import { getAllContentsList } from "@/libs/newt";
import type { NewtLogo } from "@/type";
import type { Content } from "newt-client-js";

export const getStaticPaths = async () => {
	const logos = await getAllContentsList<NewtLogo & Content>("logo", "logo");

	return logos.items.map((logo) => ({
		params: { logo: logo.id },
		props: { logo }
	}));
};

const { logo } = Astro.props;
---

<Base
	title={logo.name}
	description={`${logo.name}のロゴとその利用規約ページが書いてあります。追加依頼や修正依頼はGitHubのIssuesかその他連絡の取れる手段で連絡ください。`}
	ogImage={`/logos/${logo.id}.png`}
>
	<div id="logo-wrap">
		<img id="logo-image" src={logo.image.src} alt={`${logo.name}のロゴ`} transition:name={`${logo.id}-image`} />
	</div>
	<div id="logo-detail-wrap">
		<table id="logo-detail">
			<tbody>
				<tr>
					<th>サービス名</th>
					<td class="logo-name">{logo.name}{!logo.isOfficial && <UnofficialMark />}</td>
				</tr>
				<tr>
					<th>サービスURL</th>
					<td>
						{
							logo.url !== undefined && (
								<a href={logo.url} target="_blank">
									{logo.url}
								</a>
							)
						}
					</td>
				</tr>
				<tr>
					<th>ロゴのダウンロードURL</th>
					<td>
						{
							logo.downloadUrl !== undefined && (
								<a href={logo.downloadUrl} target="_blank">
									{logo.downloadUrl}
								</a>
							)
						}
					</td>
				</tr>
				<tr>
					<th>ロゴの利用規約</th>
					<td>
						{
							logo.termsUrl !== undefined && (
								<a href={logo.termsUrl} target="_blank">
									{logo.termsUrl}
								</a>
							)
						}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</Base>

<style lang="scss">
	#logo-wrap {
		text-align: center;
		user-select: none;
		pointer-events: none;

		#logo-image {
			width: 280px;
			aspect-ratio: 1/1;
			object-fit: contain;
		}
	}

	#logo-detail-wrap {
		display: flex;
		justify-content: center;
		padding-top: 80px;

		#logo-detail {
			border-spacing: 15px;
			width: 100%;
			max-width: 800px;

			.logo-name {
				display: flex;
				align-items: center;
				gap: 10px;
			}

			tr {
				th {
					width: 250px;
				}

				th,
				td {
					padding: 10px;
					text-align: left;
					border-bottom: 1px solid #81d481;
				}
			}

			@media (max-width: 760px) {
				tr {
					display: block;
					margin-bottom: 40px;

					th,
					td {
						display: block;
					}
				}
			}
		}
	}
</style>
