---
import Base from "@/layouts/Base.astro";
import { css } from "@/styled-system/css";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import UnOfficialMark from "@/components/UnOfficialMark.astro";

export const getStaticPaths = async () => {
	const logos = await getCollection("logos");
	// eslint-disable-next-line @typescript-eslint/no-explicit-any
	const images: { [index: string]: any } = {};

	await Astro.glob("/src/assets/logos/*.png").then((files) => {
		files.forEach((file) => {
			const name = file.default.src.split(".")[0].split("/").pop();
			images[name] = file.default;
		});
	});

	return logos.map((logo) => ({
		params: { logo: logo.slug },
		props: { logo, image: images[logo.slug] }
	}));
};

const { logo, image } = Astro.props;
const { Content } = await logo.render();
---

<Base
	title={logo.data.name}
	description={`${logo.data.name}のロゴとその利用規約ページが書いてあります。追加依頼や修正依頼はGitHubのIssuesかその他連絡の取れる手段で連絡ください。`}
	ogImage={"https://" + Astro.url.origin + image.src}
>
	<div
		class={css`
			text-align: center;
			user-select: none;
			pointer-events: none;
		`}
	>
		<Image
			src={image}
			alt={`${logo.data.name}のロゴ`}
			width={300}
			height={300}
			transition:name={`${logo.slug}-image`}
			class={css`
				aspect-ratio: 1/1;
				object-fit: contain;
				width: 280px;
				height: 280px;
			`}
		/>
	</div>
	<div
		class={css`
			display: flex;
			justify-content: center;
			padding-top: 80px;
		`}
	>
		<table
			class={css`
				border-spacing: 15px;
				width: 100%;
				max-width: 800px;
			`}
		>
			<tbody>
				<tr>
					<th>名前</th>
					<td
						class={css`
							display: flex;
							align-items: center;
							gap: 10px;
						`}
					>
						{logo.data.name}
						{logo.data.isUnOfficial && <UnOfficialMark />}
					</td>
				</tr>
				<tr>
					<th>URL</th>
					<td>
						{
							logo.data.url !== undefined && (
								<a href={logo.data.url} target="_blank">
									{logo.data.url}
								</a>
							)
						}
					</td>
				</tr>
				<tr>
					<th>ロゴのダウンロードURL</th>
					<td>
						{
							logo.data.downloadUrl !== undefined && (
								<a href={logo.data.downloadUrl} target="_blank">
									{logo.data.downloadUrl}
								</a>
							)
						}
					</td>
				</tr>
				<tr>
					<th>ロゴの利用規約</th>
					<td>
						{
							logo.data.termsUrl !== undefined && (
								<a href={logo.data.termsUrl} target="_blank">
									{logo.data.termsUrl}
								</a>
							)
						}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div
		class={[
			css`
				width: 100%;
				max-width: 800px;
				margin: 30px auto 0;
			`,
			"content-area"
		].join(" ")}
	>
		<Content />
	</div>
</Base>

<style lang="scss">
	tr {
		border: 1px solid gray;
		border-radius: 5px;
		padding: 5px;
	}

	th {
		width: 250px;
		white-space: nowrap;
		border-bottom: 1px solid gray;
	}

	td {
		word-break: break-all;
		border-bottom: 1px solid gray;
	}

	th,
	td {
		padding: 5px;
		text-align: left;
	}

	@media (max-width: 760px) {
		tr:not(:first-child) {
			margin-top: 30px;
		}

		table,
		tbody,
		th,
		td,
		tr {
			display: block;
		}

		th,
		td {
			border: none;
		}
	}

	a {
		color: #c72f2f;
	}

	.content-area {
		:global(*),
		:global(* *) {
			word-wrap: break-word;
		}

		:global(a) {
			color: #c72f2f;
		}
	}
</style>
