---
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";

const logos = await getCollection("logo");
---

<Base>
	<div id="logo-area">
		{
			[...logos]
				.sort((a, b) => {
					return b.toString().toLowerCase() < a.toString().toLowerCase() ? -1 : 1;
				})
				.map((logo) => {
					return (
						<div class="logo-wrap">
							<a class="logo-link" href={`/${logo.slug}`}>
								<img
									class="logo-image"
									src={`/logos/${logo.slug}.png`}
									alt={`${logo.data.name}のロゴ`}
									transition:name={`${logo.slug}-image`}
								/>
							</a>
							<h2 class="logo-name">{logo.data.name}</h2>
						</div>
					);
				})
		}
	</div>
</Base>

<style lang="scss">
	#logo-area {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;
		gap: 50px;

		.logo-wrap {
			max-width: 150px;
			width: 100%;
			user-select: none;

			.logo-link {
				.logo-image {
					width: 100%;
					aspect-ratio: 1/1;
					object-fit: contain;
				}
			}

			.logo-name {
				text-align: center;
			}
		}
	}
</style>
