---
import Base from "@/layouts/Base.astro";
import { getAllContentsList } from "@/libs/newt";
import type { NewtLogo } from "@/type";
import type { Content } from "newt-client-js";

const logos = await getAllContentsList<NewtLogo & Content>("logo", "logo");
---

<Base>
	<div id="logo-area">
		{
			[...logos.items]
				.sort((a, b) => {
					return b.id.toString().toLowerCase() > a.id.toString().toLowerCase() ? -1 : 1;
				})
				.map((logo) => {
					return (
						<div class="logo-wrap">
							<a class="logo-link" href={`/${logo.id}`}>
								<img
									class="logo-image"
									src={logo.image.src}
									alt={`${logo.name}のロゴ`}
									transition:name={`${logo.id}-image`}
								/>
							</a>
							<h2 class="logo-name">
								{logo.name}
								{!logo.isOfficial && <span class="unofficial">（非公式）</span>}
							</h2>
						</div>
					);
				})
		}
	</div>
</Base>

<style lang="scss">
	#logo-area {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;
		gap: 50px;

		@media (max-width: 600px) {
			gap: 20px;
		}

		.logo-wrap {
			position: relative;
			max-width: 150px;
			width: 100%;
			user-select: none;
			padding-bottom: 30px;

			.logo-link {
				.logo-image {
					width: 100%;
					aspect-ratio: 1/1;
					object-fit: contain;
				}
			}

			.logo-name {
				position: absolute;
				top: calc(100% - 30px);
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				white-space: nowrap;

				@media (max-width: 600px) {
					font-size: 15px;
				}

				.unofficial {
					display: block;
					font-size: 13px;
				}
			}
		}
	}
</style>
