---
import SnsIcon from "@/components/SnsIcon.astro";
import "@akimeaki/reset-css";
import "@/panda.css";
import { css } from "@/styled-system/css";
import { ClientRouter } from "astro:transitions";

interface Props {
	title?: string;
	description?: string;
	ogType?: string;
	ogImage?: string;
}

const {
	title,
	description = "いろいろなサービスのロゴとその利用規約ページを個人的に集めているサイトです。追加依頼や修正依頼はGitHubのIssuesかその他連絡の取れる手段で連絡ください。",
	ogType = "article",
	ogImage = "/default-ogp.png"
} = Astro.props;

const serviceTitle = "ロゴの規約など収集所";
const pageTitle = title === undefined ? serviceTitle : `${title}｜${serviceTitle}`;
const path = Astro.url.pathname.replace(/^\//, "").replace(/\.html$/, "");

const schema = {
	"@context": "https://schema.org",
	"@type": "WebSite",
	name: serviceTitle,
	url: Astro.site
};
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="format-detection" content="email=no,telephone=no,address=no" />
		<meta name="author" content="彩季" />
		<meta name="generator" content={Astro.generator} />
		<!-- Google Tag Manager -->
		<script is:inline async src="https://www.googletagmanager.com/gtm.js?id=GTM-K9M9K2B6"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			// eslint-disable-next-line @typescript-eslint/no-unused-vars
			function gtag() {
				// eslint-disable-next-line prefer-rest-params
				dataLayer.push(arguments);
			}
		</script>
		<script is:inline>
			document.addEventListener(
				"astro:page-load",
				() => {
					gtag("js", new Date());
					gtag("config", "GTM-K9M9K2B6");
					dataLayer.push({ event: "astro-page-load" });
				},
				{ once: false }
			);
		</script>
		<!-- End Google Tag Manager -->
		<meta property="og:url" content={`${Astro.site}${path}`} />
		<meta property="og:type" content={ogType} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content={serviceTitle} />
		<meta property="og:image" content={ogImage} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@Akime_Aki" />
		<link rel="icon" href={`${Astro.site}favicon.ico`} />
		<link rel="sitemap" href={`${Astro.site}sitemap-index.xml`} />
		<script type="application/ld+json" is:inline set:html={JSON.stringify(schema)} />
		<title>{pageTitle}</title>
		<ClientRouter />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-K9M9K2B6"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<header
			transition:name="header"
			class={css`
				text-align: center;
			`}
		>
			<a
				href="/"
				class={css`
					text-decoration: none;
				`}
			>
				<h1
					class={css`
						display: inline-block;
						text-align: center;
						font-size: 30px;
						margin: 40px 0;
						font-weight: bold;
						color: #f99e85;
					`}
				>
					ロゴひろば
				</h1>
			</a>
		</header>
		<p
			class={css`
				text-align: center;

				a {
					color: #c72f2f;
				}
			`}
		>
			追加依頼や修正依頼は
			<a href="https://github.com/AkimeAki/LogoHiroba/issues" target="_blank">GitHubのIssues</a>
			か その他連絡の取れる手段で連絡ください。
		</p>
		<main
			class={css`
				max-width: 1100px;
				width: 100%;
				margin: 50px auto 0;
				padding: 0 10px;
			`}
		>
			<slot />
		</main>
		<footer
			transition:name="footer"
			class={css`
				padding: 120px 0;
			`}
		>
			<p
				class={css`
					text-align: center;
					font-weight: bold;
				`}
			>
				Created by 彩季
			</p>
			<div
				class={css`
					display: flex;
					justify-content: center;
					padding: 20px 10px;
					gap: 20px;
				`}
			>
				<SnsIcon file="twitter" name="Twitter" href="https://twitter.com/Akime_Aki" />
				<SnsIcon file="x" name="X" href="https://x.com/Akime_Aki" />
				<SnsIcon file="github" name="GitHub" href="https://github.com/AkimeAki/LogoHiroba" />
			</div>
		</footer>
	</body>
</html>
